/* @override css/bootstrap.css */
/* @override css/styles.css */

/* css document */

#jukebox {
	height:620px;
	background-position: top;
	color: #C86;
}

#forkme{ position: fixed; top: -10px; right: -10px; border: 0; z-index: 1; }
#updates{  }


.bold { font-weight:bold; }
.em { font-style: italic; }

.topbar .brand { font-size: 38px; color: #df2567; }


.topbar-inner .container { height:100px; }
ul.nav{ /*padding-top:19px;*/ background-color: rgba(0, 0, 0, 0.5); }
.nav li { padding-left:45px; }
.nav li a span { padding-right:20px; }

