button {
    border-radius: 50%;
}
body {
    margin: 0 0;
    background: black;
    color: white;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0px;
    width: 100%;
    height: 60px;
    background: #222;
    z-index: 100;
    box-shadow: 0 3px 3px #111;
    -moz-box-shadow: 0 3px 3px rgb(17, 17, 17);
    -webkit-box-shadow: 0px 3px 3px #111;
    padding: 6px 0px;
}
header center {
    font-weight: bold;
    font-size: 140%;
}
header .openNav {
    background: #CCC;
    display: block;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    top: 0;
    left: 0;
}
.localFile {
    position: relative;
}
.localFile progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
header .openNav img {
    height: 50px;
    width: 50px;
}
#library input[type="file"] {
    position: absolute;
    top: 0; right: 0;
}
.nav img {
   vertical-align: middle;
}
.nav > div {
    padding: 20px;
}
.nav div[selected] {
    background: grey;
}
#frames {
    margin-top: 80px;
}
ul {
    margin: 0 0;
    padding: 0 0;
}

#waveform {
    width: 100%;
    height: 40px;
}
#jukebox {
}
.songList ul {
    list-style:none;
}
.songList li {
    padding: 5px 0px 5px 4px;
}
.song[data-queue="true"] {
    background: green;
}
.played {
    height: 20px;
    overflow: hidden;
}
ul.queue {
    
}
ul.queue li {
    height: 1.5em;
    line-height: 1.5em;
    overflow: hidden;
}
ul.queue li .artist {
    padding-right: 4px;
}
ul.queue li div {
    width: 100%;
    position: relative;
}
ul.queue li button {
    position: absolute;
    right: 0px;
    top: 0px;
    visibility: hidden;
}
ul.queue li:hover button {
    visibility: visible;
}
button.skip {
    position: absolute;
    right: 0px;
    top: 104px;
}
#app {
    
}
#chat {
    
}
#mediaPlayer meter {
    width: 100%;
}
#mediaPlayer .progress {
    text-align: right;
}
button.play {
    display: inline;
}
.songs li[selected="selected"] {
    background: #CCC;
}
.song .artist, .localFile .artist, .localFile .year {
    padding: 5px;
}
.topbar-inner .container {
    height: 120px;
}

ul.users, .roomsOpen ul.rooms {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
}
ul.users li, .roomsOpen ul.rooms li {
    float: right;
    padding-right: 20px;
}
.roomsOpen ul.rooms li {
}
ul.rooms li:hover {
    cursor: pointer;
    color: yellow;
}
.roomsOpen ul.rooms li[selected] {
    color: yellow;
    font-weight: bold;
}
.messageForm, .userList {
    width: 100%;
    overflow: auto;
    text-align: right;
}
.messageForm input {
    padding: 0 0;
    margin: 0 0;
    border: 0px;
    border-radius: 4px;
}
.messageForm input[type="text"] {
    width: 80%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.messageForm input[type="submit"] {
    width: 20%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.roomsOpen .roomList, .roomsFindOrCreate {
    float: right;
}

ul.messages {
    list-style: none;
    color: grey;
    font-size: 80%;
}
ul.messages li {
    padding: 0px 0px 20px 4px;
    font-size: 1.2em;
}
ul.messages li .user {
    font-weight: bolder;
}
ul.messages li .at {
    width: 30%;
    text-align:right;
    float: right;
}

ul.messages li .at, ul.messages li .user {
    color: white;
    cursor: pointer;
}

.dropZone {
    
}
.dropZone.dropping {
    border: 2px solid green;
}

.uploadFrame {
}
.uploadFrame iframe {
    border: 0px;
    height: 44px;
}
.uploadFrame iframe input {
    
}

.lightbox { bottom: 0; left: 0; right: 0; top: 0; position: fixed; z-index: 1000; padding-top: 5%; }
.lightbox .close a { background: rgba(0, 0, 0, 0.75); bottom: 0; left: 0; right: 0; top: 0; position: absolute; z-index: 1; }
.lightbox .close span { color: #FFFFFF; font-size: 2em; text-indent: 0; position: absolute; right: 0.5em; top: 0.5em; }
.lightbox .close {text-indent: -999em;}
.lightbox > div {
    position: absolute; left: 50%; z-index: 99;
    max-height: 100%;
    overflow: auto;
}
.lightbox > div {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(79,79,79)), to(rgb(0,0,0)));
	-webkit-appearance: none;
    -webkit-box-shadow: 1px 1px 11px rgb(79,79,79);
    -webkit-border-radius: 1em;
    margin-left: -45%;
    width: 90%;
}
.lightbox > div {  }
.lightbox .scroll { overflow-y: scroll; padding: 0 1em; }

#me {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

circle {
    fill: none;
    stroke-width: 8px;
}
#frames > div {
    display: block;
}
#frames > div:not([selected]) {
    display: none;
}
.songList ul li {
    font-size: 1.3em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.songList ul li button {
    display: none;
    float: right;
}
@media only screen and (min-width: 767px) {
    .songList ul li:hover {
        border-top: 1px dashed yellow;
        border-bottom: 1px dashed yellow;
    }
    .songList ul li:hover button {
        display: block;
    }
    button:hover {
        background: yellow;
        color: black;
        cursor: pointer;
    }
    #frames > div:not([selected]) {
        display: block;
    }
    #frames > div[selected] {
        width: 100%;
        height: 100%;
    }
    #frames > div.nav[selected] {
        height: auto;
        width: auto;
    }
    #frames:not([data-sel="Jukebox"]) > div[selected] > div {
        margin-top: 80px;
    }
    #frames:not([data-sel="Jukebox"]) > div:not([selected]) {
        display: none;
    }
    #frames[data-sel] > div.nav {
        display: block;
    }
    header .openNav:hover {
        background: white;
        border: 1px solid black;
    }
    .nav > div:hover {
        background: #CCC;
        color: black;
        cursor: pointer;
    }
    #jukeHead center {
        visibility: hidden;
    }
    #frames .nav {
        z-index: 200;
        position: fixed;
        top: 0;
        left: 100px;
    }
    #frames .nav > div {
        float: left;
    }
    #chat, #queue {
        border-left: 2px inset #CCC;
    }
    #queue {
        position: fixed;
        overflow-y: scroll;
        top: 0px;
        right: 0px;
        height: 40%;
        width:30%;
    }
    #queue > div {
        margin-top: 80px;
    }
    #chat {
        position: fixed;
        overflow-y: scroll;
        bottom: 0px;
        right: 0px;
        height: 60%;
        width:30%;
    }
    #library {
        width: 70%;
        position: fixed;
        overflow-y: scroll;
        bottom: 0px;
        left: 0px;
        height: 70%;
    }
    #mediaPlayer > div {
        margin-top: 80px;
    }
    #mediaPlayer {
        width: 70%;
        position: fixed;
        overflow: auto;
        top: 0px;
        left: 0px;
        height: 30%;
        margin-top: 80px;
    }
}

@media only screen and (max-width: 766px) {
    
}