#waveform {
    width: 100%;
    height: 40px;
}
#jukebox { margin-top:120px; }
.songList ul {
    list-style:none;
}
.songList li {
    padding: 10px;
}
.song[data-queue="true"] {
    background: green;
}
#app {
    width: 100%;
    float: left;
    background: #222;
    color: #ccc;
    }
#chat {
    width: 33%;
    text-align: right;
    position:absolute;
    right: 0px;
    height: 100%;
    overflow-y: scroll;
}

button.play {
    padding: 5px;
    display: inline;
}
.songs li[selected="selected"] {
    background: #CCC;
}
.song .artist {
    padding: 5px;
}
.topbar-inner .container {
    height: 120px;
}

ul.users, .roomsOpen ul.rooms {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
}
ul.users li, .roomsOpen ul.rooms li {
    float: right;
    padding-right: 20px;
}
.roomsOpen ul.rooms li {
}
ul.rooms li:hover {
    cursor: pointer;
    color: yellow;
}
.roomsOpen ul.rooms li[selected] {
    color: yellow;
    font-weight: bold;
}
.messageForm, .userList {
    width: 100%;
    overflow: auto;
    text-align: right;
}
.messageForm input {
    padding: 0 0;
    margin: 0 0;
}
.messageForm input[type="text"] {
    width: 80%;
}
.messageForm input[type="submit"] {
    width: 20%;
}
.roomsOpen .roomList, .roomsFindOrCreate {
    float: right;
}

ul.messages {
    list-style: none;
}
ul.messages li {
    padding: 20px;
    font-size: 1.4em;
}
ul.messages li .user {
    width: 30%;
    display: block;
    float: left;
    overflow: hidden;
}
ul.messages li .at {
    width: 30%;
    text-align:right;
    float: right;
}

ul.messages li .at, ul.messages li .user {
    font-size: 60%;
}

.dropZone {
    
}
.dropZone.dropping {
    border: 2px solid green;
}

.uploadFrame {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.uploadFrame iframe {
    border: 0px;
    height: 44px;
}
.uploadFrame iframe input {
    
}

.lightbox { bottom: 0; left: 0; right: 0; top: 0; position: fixed; z-index: 1000; padding-top: 5%; }
.lightbox .close a { background: rgba(0, 0, 0, 0.75); bottom: 0; left: 0; right: 0; top: 0; position: absolute; z-index: 1; }
.lightbox .close span { color: #FFFFFF; font-size: 2em; text-indent: 0; position: absolute; right: 0.5em; top: 0.5em; }
.lightbox .close {text-indent: -999em;}
.lightbox > div {
    position: absolute; left: 50%; z-index: 99;
    max-height: 100%;
    overflow: auto;
}
.lightbox > div {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(79,79,79)), to(rgb(0,0,0)));
	-webkit-appearance: none;
    -webkit-box-shadow: 1px 1px 11px rgb(79,79,79);
    -webkit-border-radius: 1em;
    margin-left: -45%;
    width: 90%;
}
.lightbox > div {  }
.lightbox .scroll { overflow-y: scroll; padding: 0 1em; }

#me {
    position: absolute;
    top: 0;
    right: 0;
}

.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

circle {
    fill: none;
    stroke-width: 8px;
}